exportPattern("^[[:alpha:]]+")
S3method(plot, eaemg)
S3method(plot, emg)
S3method(plot, iemg)
S3method(print, eaemg)
S3method(print, emg)
S3method(print, iemg)
S3method(print, summary.eaemg)
S3method(print, summary.emg)
S3method(print, summary.iemg)
S3method(summary, eaemg)
S3method(summary, emg)
S3method(summary, iemg)
