exportPattern("^[[:alpha:]]+")
S3method(plot, eaemg)
S3method(plot, emg)
S3method(plot, iemg)
S3method(print, eaemg)
S3method(print, emg)
S3method(print, iemg)
S3method(print, summary.eaemg)
S3method(print, summary.emg)
S3method(print, summary.iemg)
S3method(summary, eaemg)
S3method(summary, emg)
S3method(summary, iemg)
S3method(as.emg, default)
S3method(as.emg, numeric)
S3method(as.emg, matrix)
S3method(as.emg, data.frame)
importFrom("graphics", "lines", "plot","layout","par")
importFrom("stats", "pbinom", "cov", "quantile", "sd", "qnorm", "rnorm", "filter")
importFrom("utils", "head", "tail")
importFrom("signal", "butter")